.secPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto auto;
  height: auto;
  background-color: var(--cor2);
  
}

.tituloProjetos {
  width: 100%;
  font-weight: bold;
  font-family: var(--fonte2);
  color: var(--cor1);
  font-size: 30px;
  text-align: center;
  padding: 40px 0;
}

.divCards {
  display: flex;
  border-radius: 5px;
  width: 100vw;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  height: 450px;
  width: 23%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.card-img-top {
  width: auto;
  height: 200px;
}

.card-body{
  height: 200px;
}

.tituloCard {
  text-align: center;
  font-family: var(--fonte2) !important;
}

.card-text {
  font-family: var(--fonte2) !important;
  height: 100px;
  text-align: center;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100px !important;
  background-color: var(--cor1) !important;
  outline: none;
  margin: 0 10px !important;
  font-family: var(--fonte2) !important;
  font-weight: 400 !important;
  color: var(--cor2) !important;
}

.btn:hover {
  background-color: var(--cor5) !important;
}