.secPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto auto;
  height: auto;
  background-color: var(--cor2); 
}
.tituloProjetos {
  width: 100%;
  font-weight: bold;
  font-family: var(--fonte2);
  color: var(--cor1);
  font-size: 30px;
  text-align: center;
  padding: 40px 0;
}

.divCardProjetos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.divCards {
  display: flex;
  border-radius: 5px;
  margin: 0 5px;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  height: 370px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--cor1);
  padding: 20px;
  background-color: var(--cor2);
}

.card-img-top {
  width: auto;
  height: auto;
  max-height: 200px;
  min-height: 140px;
  max-width: 100%;
  min-width: 100%;
}

.card-body{
  width: 100%;
  margin: 10px;
  padding: 0;
}

.card-title {
  text-align: center;
  font-family: var(--fonte2);
  font-weight: 900;
  font-size: 1.3rem;
}

.card-text {
  font-family: var(--fonte2);
  font-size: 0.9rem;
  height: 100px;
  text-align: center;
  }

.divBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.botao {
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: var(--cor1);
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px;
  font-family: var(--fonte2);
  font-weight: 400;
  color: var(--cor2);
  outline: none;
}

.botao:hover {
  background-color: var(--cor5);
  color: var(--cor2);
}