.divProjetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor2);
  height: 100vh;
  width: 100%;
}
.divCards {
  display: flex;
  border-radius: 5px;
  height: 400px;
  width: 1200px;
  justify-content: center;
}

.divFrente {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 600px;
  text-align: center;
  padding: 30px;
}

.divVerso {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  padding: 30px;
}

.titulo {
  font-weight: bold;
  font-family: var(--fonte2);
  color: var(--cor1);
  font-size: 30px;
  text-align: center;
  padding: 40px 0;
}

.tituloItem {
  font-size: 20px;
  font-family: var(--fonte2);
  font-weight: 600;
  margin: 10px 0 0 0;
}

.data {
  font-size: 14px;
  font-family: var(--fonte2);
  font-weight: 400;
  margin-top: 10px;
  height: 10px;
}
.infos {
    font-size: 18px;
    font-family: var(--fonte2);
    font-weight: 400;
    margin-top: 10px;
    height: 40px;
}

.divLogos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 80px;
  margin-top: 40px;
}

.logos {
  width: 45px;
  height: 45px;
}

.logos:hover {
  cursor: pointer;
  width: 70px;
  height: 70px;
  transition: 500ms;
}
.divMiniImg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto auto;
}
.miniImg {
  width: 40px;
  height: auto;
  margin-top: 30px;
}
.cor {
  background-color: var(--cor1);
}

.imagem {
  width: 75%;
  height: auto;
  align-self: center;
}
