.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: var(--cor1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.btnMenu {
  display: block;
  text-indent: -9999px;
  z-index: 5;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 16px;
  font-family: var(--fonte3);
  text-decoration: none;
}

.menuItemAction {
  text-decoration: none;
  color: var(--branco);
  font-size: 16px;
}

.menuItem:hover {
  background-color: var(--cor5);
  cursor: pointer;
  height: 50px;
  transition: 500ms;
}