.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: var(--cor1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.btnMenu {
  display: block;
  text-indent: -9999px;
  z-index: 5;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 16px;
  font-family: var(--fonte3);
  text-decoration: none;
}

.menuItem:hover {
  background-color: var(--cor5);
  cursor: pointer;
  height: 50px;
  transition: 500ms;
  text-align: top;
}

.menuItemAction {
  text-decoration: none;
  color: var(--branco);
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
}

.menuItemAction:hover {
  color: var(--branco);
}

@media screen and (max-width: 840px) {
  .btnMenu {
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
  }
  .btnMenuOpen {
    background-image: url("../../img/menu.svg");
    background-color: var(--cor1);
    position: fixed;
    width: 100%;
  }
  .btnMenuClose {
    background-image: url("../../img/menu.svg");
  }
  .menu {
    position: fixed;
    top: 0;
    left: -30px;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    display: block;
  }
  .menuOpen {
    transform: translateX(0);
  }
  .menuItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    background-color: var(--cor2);
    width: 150px;
    position: relative;
    top: 65px;
    left: 0;
  }
  .menuItemAction {
    color: var(--preto);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
}
