.divRodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--cor1);
    font-family: var(--fonte3);
    color: var(--cor2);
    font-size: 12px;
}

.iconContato{
    color: var(--cor2);
    font-size: 3.5rem;
    margin: 15px; 
}

.rodape {
    align-items: center;
    font-family: var(--fonte4);
    color: var(--cor2);
    font-size: 0.9rem;
    margin: 10px 0;
}